
html {
	--black: #111111;
	--white: #FFF;

	--color: #5E321F;
	--highlight: #aadee9;

	--shadow: rgba(0,0,0,.8);

	--corners-small: 6px;
	--corners: 10px; /* or whatevers */

	--standard: 1140px;
	--tight: 800px;
	--wide: 96vw;

	--paper: hsla(264, 100%, 27%, 1.00);

	--ink: black;
	--highlight: limegreen; 
}

@media (prefers-color-scheme: dark) {
	html {
		--paper: hsla(264, 100%, 27%, 1.00); 
		--highlight: limegreen;
	}
}
