<inner-column>
	<mast-head>
		<p class="attention-voice">Site Header</p>
		<%- include('site-menu.ejs') %>
	</mast-head>
</inner-column>

<h1 class="loud-voice">404!</h1>

<h3 class="alert-voice">Sorry, the page <span style='color:blue;'><%= query %></span> does not exist in this universe.</h3>